body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color:  #050631; 
    color: #FFFFFF;
    margin:0px auto;
    text-align: center;

}



.content{
    width: 100%;
    margin:0px auto;
    text-align: center;
}
.now{
    height: 200px;
    background-color:  #050631; 
    margin-top: 30px;
    font-size: 20px;
}

.now_weather_icon{
    display: inline-block 
}
.now_desc{
    display: inline-block 
}


.location{
    height: 150px;
    background-color: #393B78;
    padding-top: 40px;
}

.future{
    height: 35%;
    background-color:  #050631; 
}

.day6{
    display: inline-block;
    margin:0px auto;
    text-align: center;
    margin-top: 40px;
    margin-right: 25px;
}

.day{
    font-size: 20px;
}

.icon{
    padding-top: 15px;
    padding-bottom: 15px;
}

.degree{
    font-size: 20px;
}